# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class
*.db
models/
old/

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/


# PyPI configuration file
.pypirc

